<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EzraReinforcementExp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EzraReinforcementExp.Settings1>
            <setting name="PositiveMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkingPoolSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="QuizMinutes" serializeAs="String">
                <value>1</value>
            </setting>
        </EzraReinforcementExp.Settings1>
    </applicationSettings>
</configuration>